@font-face {
	font-family:StudioScriptC; 
	src:url(../fonts/StudioScriptC.otf);
}
@font-face{
	font-family:SF-UI-Display-Ultralight;
	src:url(../fonts/Philosopher_Regular.ttf);
}
@font-face{
	font-family:Exo;
	src:url(../fonts/Exo.ttf);
}
@media
{
  html {
    background-color : white;
  }
BODY {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0; /* Отступы для браузера Opera */
  margin: 0px auto 0px; /* Обнуляем значения отступов на веб-странице */
  max-width: 95%;
  -moz-box-shadow: 0 0 30px ; /* Для Firefox */
  -webkit-box-shadow: 0 0 30px ; /* Для Safari и Chrome */
  box-shadow: 0 0 30px ; /* Параметры тени */
  font-size : 110%;
  background-image : url(../img/nikellanjilo.png);
  background-repeat : no-repeat;
  background-size: 150px 150px;
  background-position : left top;
  background-position-x : 3%;
  background-position-y : 0%;
  background-attachment: fixed;
  background-color : #F2F2F2;
 }
 #leftcol {
  text-align : right;
  position: absolute; /* Абсолютное позиционирование */
  font-size : 98%;
  width: 24%; /* Ширина слоя */
  --left: 2.5%; /* Положение от левого края окна */
  background: #E6E6E6
  padding-left: 4px; /* Поля вокруг текста */
  overflow : hidden;
  word-wrap : break-word;
  letter-spacing: 5px;
  min-height : 500px;
 }
 #ads{
	position : absolute;
	margin-top : 280px;
	--border: 4px double black;
	width : 24%;
	height : 320px;
 }
 #ads-main-page{
	border: 4px double black;
	width : 97%;
	min-height : 200px;
	max-height : 320px;
 }
 
#leftcol .menu .menu-item{
	margin-bottom: 10px;
	background-image : url(../img/bottom_nav.png);
	background-repeat : no-repeat;
	background-position: right bottom;
	}
  #leftcol .menu .menu-item a{
		font-size: 18px;
		vertical-align: 5px;
		color: #08088A;
		text-decoration : none;
		font-family : Exo;
	}
	#leftcol li
	{
		list-style-type: none
	}
 
 #leftcol .menu .menu-item a:hover {
	font-weight : bold;
	}
input[type="text"] {
	min-width : 100px;
	width : 30%;
	box-sizing: border-box;
    border: 2px solid #08088A;
    border-radius: 4px;
	font-size: 16px;
    background-color: #F2F2F2;	
	font-size: 16px;
	color : #08088A;	
	text-align:left;
	font-family: Exo;
	}
input[type="submit"] {
    width: 100px; 
    height: 26px;
    border: none;
	font-size : 16px;
	margin-bottom : 10px;
	border-radius: 4px;	
	font-family : Exo;
	}
input[type="submit"]:hover{
		background : #08088A;
		color:white;
		font-family : Exo;
	}
 #rightcol {
  margin-top : -10px;
  margin-left: 27%; /* Отступ слева */
  --background: #e0e0e0; /* Цвет фона правой колонки */
  --padding: 10px; /* Поля вокруг текста */
 }
 #content{
   max-width: 95%;
   margin-left : 5px;
   padding : 5px;
   min-height: calc(100vh - 20px);
   --font-family : SF-UI-Display-Ultralight;
   font-family : Exo;
 }
 #category-page-content
 {
	margin-left : 48%;
    min-height : calc(100vh - 20px);
    font-family : Exo;
    text-align : justify;
 }
 #main-page-content
 {
   margin-left : 28%;
   min-height : calc(100vh - 20px);
   font-family : Exo;
   text-align : justify;
 }
 #over-page-content
 {
   margin-left : -40%;
   min-height : 400px;
   display:inline-block;
 }
 .over-page-block
 {
   width :  97%;
   min-width : 300px;
   max-height : 85px;
   padding : 20px;
   overflow : hidden;
   font-size : 14px;
   display:inline-block;
 }
 .over-page-block:hover{
	-webkit-transform: scale(1.01);
-ms-transform: scale(1.01);
transform: scale(1.01);
transition: 1s ease;
 }
 .over-page-block a{
	display : block; 
	text-decoration : none;
	color : black;
 }
 .over-page-block h1 {
	font-size : 15px;
 }
 .over-page-block .over-page-block-image{
	border-radius: 100px; /* Радиус скругления */
	width : 100px;	
	height : 100px;
	display: block;	
  }
  .fotorama{
	margin : auto;
  }
 .fotorama .any  {
		text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
		font-family: Exo;
		font-size: 72px;
		text-align: center;
		height: 100%;
		box-sizing: border-box;
		padding-top: 100px;
		line-height: normal;
	}
	.fotorama .any a 
	{
		text-decoration : none;
		color : white;
		--font-family: Georgia, serif;
		font-family: Exo;
	}
	.fotorama .inverse {
		color: #fff;
		text-shadow: 0 1px 0 #000;
	}
 #more_articles {
   position : fixed;
   top : 225px;
   width : 21.5%;
   background : #e1e2b1;
   padding : 1%;
   left : 2.5%;
 }
 H1 {
  margin: 0;  /* Убираем отступы */
 }
 #header{
   width : 100%;
   text-align : center;
   font-size:32px;
   left : 0;
   min-height : 150px;
   color : #08088A;
   font-family: StudioScriptC;
 }
 #header a {
	font-family : Exo;
 }
 #vk_groups{
	margin: auto;
 }
 .other-articles{
	width : 100%;
	}
 .article{
	vertical-align: top;
	font-size : 16px;
	width : 30%;
	margin-left:1%;
	margin-top : 20px;
	overflow : hidden;
	margin-bottom : 20px;
	display:inline-block;
	max-height : 300px;
	font-family : Exo;
	text-align : justify;
	}
  .article a {
	display : block; 
	text-decoration : none;
	color : black;
	text-shadow: 0 1px 0 white;
  }
  .article .article-image{
	border-radius: 100px; /* Радиус скругления */
	width : 100px;	
	height : 100px;
	margin : auto;
	display: block;
    margin: 0 auto;
  }
  
  
  .article h1 {
	text-align : justify;
	font-size : 17px;
  }
  #footer{
   position : relative;
   width : 98%;
   padding : 1%;
   height : 40px;
   background : grey;
   text-align : center;
   left : 0;
   bottom : 0;
 }


}
